.ad-form {
    width: 40vw;
    background-color: white;
}

.create-ad-main {
    height: 80vh;
    display: flex;
    justify-content: center;
    /* background-image: url(https://cdn.mesterilocali.ro/images/inregistrare-meseriasi.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */

}

.ad-form img {
    display: block;
    width: 130px;
    margin: auto;
    margin-bottom: 5%;
}