.ad-form {
    width: 40vw;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-ad-main {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
}

.ad-form img {
    display: block;
    width: 130px;
    margin: auto;
    margin-bottom: 5%;
}
